<header class="top-bar">
  <h1>Admin Asistencias</h1>
</header>

<main class="content">
  <!-- Header global -->
  <app-header></app-header>

  <!-- Aquí se renderizan los módulos -->
  <router-outlet></router-outlet>
</main>

<nav class="bottom-nav" id="bottomNav">
  <a routerLink="/dashboard/home" routerLinkActive="active">
    <span class="material-symbols-outlined">business_center</span>
    <span class="label">Dashboard</span>
  </a>
  <a routerLink="/actividades/lista" routerLinkActive="active">
    <span class="material-symbols-outlined">assignment</span>
    <span class="label">Actividades</span>
  </a>
  <a routerLink="/asistencia/entrada" routerLinkActive="active">
    <span class="material-symbols-outlined">badge</span>
    <span class="label">Asistencia</span>
  </a>
  <a routerLink="/reportes/historial" routerLinkActive="active">
    <span class="material-symbols-outlined">analytics</span>
    <span class="label">Reportes</span>
  </a>
  <a routerLink="/cuenta/perfil" routerLinkActive="active">
    <span class="material-symbols-outlined">manage_accounts</span>
    <span class="label">Cuenta</span>
  </a>
</nav>
